<!-- 左侧导航栏样式 -->
<nav class="sidebar">
    <div class="menu-top">
        <a href="index.html" class="menu-item">
            <img src="../assets/icons/Home_white.svg" alt="首页" />
            <span>首页</span>
        </a>
        <a href="stat.html" class="menu-item">
            <img src="../assets/icons/Person_white.svg" alt="生涯" />
            <span>生涯</span>
        </a>
        <a href="search.html" class="menu-item">
            <img src="../assets/icons/Search_white.svg" alt="查询" />
            <span>查询</span>
        </a>
        <a href="game.html" class="menu-item">
            <img src="../assets/icons/Game_white.svg" alt="对局" />
            <span>对局</span>
        </a>
    </div>
    <div class="menu-bottom">
        <a href="#" id="opgg" class="menu-item">
            <img src="../assets/images/opgg.svg" alt="OPGG" />
            <span style="font-size: 12px">OPGG</span>
        </a>
        <a href="setting.html" class="menu-item">
            <img src="../assets/icons/Setting_white.svg" alt="设置" />
            <span>设 置</span>
        </a>
    </div>
</nav>

<style>
    .sidebar {
        width: 72px;
        height: calc(100vh - 20px);
        background-color: #1e1e2e;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px;
    }

    .menu-top,
    .menu-bottom {
        display: flex;
        flex-direction: column;
    }

    .menu-item {
        display: flex;
        align-items: center;
        padding: 8px 2px;
        color: white;
        text-decoration: none;
        transition: background 0.3s;
    }

    .menu-item img {
        width: 24px;
        height: 24px;
    }

    img {
        margin-right: 10px;
    }

    .menu-item:hover {
        background-color: #2839b0;
        cursor: pointer;
    }
</style>
